@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-xlr:before { content: "\f100"; }
.flaticon-002-odc:before { content: "\f101"; }
.flaticon-003-pif:before { content: "\f102"; }
.flaticon-004-fnt:before { content: "\f103"; }
.flaticon-005-sdf:before { content: "\f104"; }
.flaticon-006-vcd:before { content: "\f105"; }
.flaticon-007-yuv:before { content: "\f106"; }
.flaticon-008-gam:before { content: "\f107"; }
.flaticon-009-pkg:before { content: "\f108"; }
.flaticon-010-nes:before { content: "\f109"; }
.flaticon-011-key:before { content: "\f10a"; }
.flaticon-012-db:before { content: "\f10b"; }
.flaticon-013-cdr:before { content: "\f10c"; }
.flaticon-014-mov:before { content: "\f10d"; }
.flaticon-015-app:before { content: "\f10e"; }
.flaticon-016-raw:before { content: "\f10f"; }
.flaticon-017-csr:before { content: "\f110"; }
.flaticon-018-wav:before { content: "\f111"; }
.flaticon-019-ps:before { content: "\f112"; }
.flaticon-020-bat:before { content: "\f113"; }
.flaticon-021-cur:before { content: "\f114"; }
.flaticon-022-ico:before { content: "\f115"; }
.flaticon-023-py:before { content: "\f116"; }
.flaticon-024-apk:before { content: "\f117"; }
.flaticon-025-uue:before { content: "\f118"; }
.flaticon-026-iso:before { content: "\f119"; }
.flaticon-027-bmp:before { content: "\f11a"; }
.flaticon-028-js:before { content: "\f11b"; }
.flaticon-029-dwg:before { content: "\f11c"; }
.flaticon-030-avi:before { content: "\f11d"; }
.flaticon-031-rtf:before { content: "\f11e"; }
.flaticon-032-odx:before { content: "\f11f"; }
.flaticon-033-exe:before { content: "\f120"; }
.flaticon-034-drv:before { content: "\f121"; }
.flaticon-035-bak:before { content: "\f122"; }
.flaticon-036-rar:before { content: "\f123"; }
.flaticon-037-pps:before { content: "\f124"; }
.flaticon-038-pub:before { content: "\f125"; }
.flaticon-039-tiff:before { content: "\f126"; }
.flaticon-040-mp4:before { content: "\f127"; }
.flaticon-041-css:before { content: "\f128"; }
.flaticon-042-sql:before { content: "\f129"; }
.flaticon-043-gz:before { content: "\f12a"; }
.flaticon-044-cad:before { content: "\f12b"; }
.flaticon-045-pptx:before { content: "\f12c"; }
.flaticon-046-svg:before { content: "\f12d"; }
.flaticon-047-mp3:before { content: "\f12e"; }
.flaticon-048-ai:before { content: "\f12f"; }
.flaticon-049-gif:before { content: "\f130"; }
.flaticon-050-txt:before { content: "\f131"; }
.flaticon-051-psd:before { content: "\f132"; }
.flaticon-052-png:before { content: "\f133"; }
.flaticon-053-ppt:before { content: "\f134"; }
.flaticon-054-asf:before { content: "\f135"; }
.flaticon-055-html:before { content: "\f136"; }
.flaticon-056-zip:before { content: "\f137"; }
.flaticon-057-log:before { content: "\f138"; }
.flaticon-058-xls:before { content: "\f139"; }
.flaticon-059-docx:before { content: "\f13a"; }
.flaticon-060-csv:before { content: "\f13b"; }
.flaticon-061-xml:before { content: "\f13c"; }
.flaticon-062-xlsx:before { content: "\f13d"; }
.flaticon-063-jpg:before { content: "\f13e"; }
.flaticon-064-doc:before { content: "\f13f"; }
.flaticon-065-fon:before { content: "\f140"; }
.flaticon-066-pdf:before { content: "\f141"; }
.flaticon-067-vob:before { content: "\f142"; }
.flaticon-068-otf:before { content: "\f143"; }
.flaticon-069-ra:before { content: "\f144"; }
.flaticon-070-dtd:before { content: "\f145"; }
.flaticon-071-pl:before { content: "\f146"; }
.flaticon-072-wps:before { content: "\f147"; }
.flaticon-073-odg:before { content: "\f148"; }
.flaticon-074-pdb:before { content: "\f149"; }
.flaticon-075-dmg:before { content: "\f14a"; }
.flaticon-076-cer:before { content: "\f14b"; }
.flaticon-077-wpd:before { content: "\f14c"; }
.flaticon-078-rm:before { content: "\f14d"; }
.flaticon-079-cab:before { content: "\f14e"; }
.flaticon-080-tga:before { content: "\f14f"; }
.flaticon-081-kmz:before { content: "\f150"; }
.flaticon-082-icns:before { content: "\f151"; }
.flaticon-083-mid:before { content: "\f152"; }
.flaticon-084-rpm:before { content: "\f153"; }
.flaticon-085-cfg:before { content: "\f154"; }
.flaticon-086-dem:before { content: "\f155"; }
.flaticon-087-aif:before { content: "\f156"; }
.flaticon-088-cue:before { content: "\f157"; }
.flaticon-089-elf:before { content: "\f158"; }
.flaticon-090-otf:before { content: "\f159"; }
.flaticon-091-m4a:before { content: "\f15a"; }
.flaticon-092-m4v:before { content: "\f15b"; }
.flaticon-093-odp:before { content: "\f15c"; }
.flaticon-094-cpl:before { content: "\f15d"; }
.flaticon-095-mdf:before { content: "\f15e"; }
.flaticon-096-tmp:before { content: "\f15f"; }
.flaticon-097-dxf:before { content: "\f160"; }
.flaticon-098-cgi:before { content: "\f161"; }
.flaticon-099-sys:before { content: "\f162"; }
.flaticon-100-ics:before { content: "\f163"; }
.flaticon-101-aac:before { content: "\f164"; }
.flaticon-102-ogg:before { content: "\f165"; }
.flaticon-103-odf:before { content: "\f166"; }
.flaticon-104-m3u:before { content: "\f167"; }
.flaticon-105-msg:before { content: "\f168"; }
.flaticon-106-msi:before { content: "\f169"; }
.flaticon-107-com:before { content: "\f16a"; }
.flaticon-108-obj:before { content: "\f16b"; }
.flaticon-109-dat:before { content: "\f16c"; }
.flaticon-110-odt:before { content: "\f16d"; }
.flaticon-111-dds:before { content: "\f16e"; }
.flaticon-112-ttf:before { content: "\f16f"; }
.flaticon-113-indd:before { content: "\f170"; }
.flaticon-114-3gp:before { content: "\f171"; }
.flaticon-115-tar:before { content: "\f172"; }
.flaticon-116-lua:before { content: "\f173"; }
.flaticon-117-fla:before { content: "\f174"; }
.flaticon-118-vcf:before { content: "\f175"; }
.flaticon-119-dmp:before { content: "\f176"; }
.flaticon-120-gzip:before { content: "\f177"; }
.flaticon-121-rom:before { content: "\f178"; }
.flaticon-122-rss:before { content: "\f179"; }
.flaticon-123-swf:before { content: "\f17a"; }
.flaticon-124-wma:before { content: "\f17b"; }
.flaticon-125-vb:before { content: "\f17c"; }
.flaticon-126-3ds:before { content: "\f17d"; }
.flaticon-127-jsp:before { content: "\f17e"; }
.flaticon-128-kml:before { content: "\f17f"; }
.flaticon-129-ods:before { content: "\f180"; }
.flaticon-130-wmv:before { content: "\f181"; }
.flaticon-131-dbf:before { content: "\f182"; }
.flaticon-132-tex:before { content: "\f183"; }
.flaticon-133-gpx:before { content: "\f184"; }
.flaticon-134-dll:before { content: "\f185"; }
.flaticon-135-odi:before { content: "\f186"; }
.flaticon-136-ged:before { content: "\f187"; }
.flaticon-137-odt:before { content: "\f188"; }
.flaticon-138-asp:before { content: "\f189"; }
.flaticon-139-lnk:before { content: "\f18a"; }
.flaticon-140-flv:before { content: "\f18b"; }
.flaticon-141-eps:before { content: "\f18c"; }
.flaticon-142-bin:before { content: "\f18d"; }
.flaticon-143-max:before { content: "\f18e"; }
.flaticon-144-cpp:before { content: "\f18f"; }
.flaticon-145-sav:before { content: "\f190"; }
.flaticon-146-srt:before { content: "\f191"; }
.flaticon-147-mpg:before { content: "\f192"; }
.flaticon-148-jar:before { content: "\f193"; }
.flaticon-149-7z:before { content: "\f194"; }
.flaticon-150-mdb:before { content: "\f195"; }