@charset "utf-8";

//== HELPER
@import "helpers/functions";
@import "helpers/variables";
@import "helpers/rfs";
@import "helpers/root";

//== MIXINS
@import "mixins";

//== BASE
@import "base/reset";
@import "base/typography";

//== LAYOUT
@import "layout/grid";
@import "layout/utilities";
@import "layout/displays";
@import "layout/margin";
@import "layout/padding";
@import "layout/breadcrumb";
@import "layout/forms";
@import "layout/checkbox";
@import "layout/radio";
@import "layout/switch";
@import "layout/dropdowns";
@import "layout/header";
@import "layout/footer";

//== COMPONENTS
@import "components/alerts";
@import "components/backgrounds";
@import "components/badges";
@import "components/boxShadows";
@import "components/buttons";
@import "components/buttons-group";
@import "components/cards";
@import "components/datepicker";
@import "components/heading";
@import "components/fileUpload";
@import "components/images";
@import "components/inputs";
@import "components/masks";
@import "components/modals";
@import "components/opacitys";
@import "components/loading";
@import "components/steps";
@import "components/size";
@import "components/paginations";
// @import "components/panels";
@import "components/popover";
// @import "components/roundeds";
@import "components/rtTools";
@import "components/tables";
@import "components/tabs";
@import "components/texts";
@import "components/toasts";
@import "components/transition";
@import "components/tooltips";


// 在本機加上圖片資料夾的路徑
$local : '../img' !default;

//== PAGES
@import "pages/index";
@import "pages/search";
@import "pages/news";
@import "pages/description";
@import "pages/works_show";
@import "pages/case_analysis";
@import "pages/apply";
@import "pages/forgot";
@import "pages/sign";
@import "pages/download_list";
@import "pages/related_links";
@import "pages/regulation";
@import "pages/faq";
@import "pages/contact";
@import "pages/sitemap";
@import "pages/privacy";
@import "pages/location";
@import "pages/video";
@import "pages/profile";

//== VENDOR
@import "vendor/owl/owl.carousel";
@import "vendor/owl/owl.theme.default";
@import "vendor/plugin-wizard";