@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  COMPONENTS > MODAL
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.jconfirm {

    &.prompt.prompt {
        .jconfirm-box.jconfirm-box {
            // // border: 2px solid lighten($danger, 20%);

            // &.hilight.hilight {
            //     box-shadow: 0 0 12px 2px rgba($primary, 0.44);
            // }

            // .title.title {
            //     border-bottom-color: $primary;

            //     > i {
            //         color: $primary;
            //     }
            // }

            .content.content {
                padding: 2rem 2rem;
            }
            .buttons.buttons {

                // border-top: $border-color 1px dotted;
                // padding: 1.25rem 1.5rem;

                .btn {
                    padding-left: 3rem;
                    padding-right: 3rem;
                }
            }
        }
    }
    &.primary.primary {
        .jconfirm-box.jconfirm-box {
            // border: 2px solid lighten($danger, 20%);

            &.hilight.hilight {
                box-shadow: 0 0 12px 2px rgba($primary, 0.44);
            }

            .title.title {
                border-bottom-color: $primary;

                > i {
                    color: $primary;
                }
            }
        }
    }

    &.secondary.secondary {
        .jconfirm-box.jconfirm-box {
            // border: 2px solid lighten($danger, 20%);

            &.hilight.hilight {
                box-shadow: 0 0 12px 2px rgba($secondary, 0.44);
            }

            .title.title {
                border-bottom-color: $secondary;

                > i {
                    color: $secondary;
                }
            }
        }
    }

    &.tertiary.tertiary {
        .jconfirm-box.jconfirm-box {
            // border: 2px solid lighten($danger, 20%);

            &.hilight.hilight {
                box-shadow: 0 0 12px 2px rgba($tertiary, 0.44);
            }

            .title.title {
                border-bottom-color: $tertiary;

                > i {
                    color: $tertiary;
                }
            }
        }
    }

    &.quaternary.quaternary {
        .jconfirm-box.jconfirm-box {
            // border: 2px solid lighten($danger, 20%);

            &.hilight.hilight {
                box-shadow: 0 0 12px 2px rgba($quaternary, 0.44);
            }

            .title.title {
                border-bottom-color: $quaternary;

                > i {
                    color: $quaternary;
                }
            }
        }
    }

    &.danger.danger {
        .jconfirm-box.jconfirm-box {
            // border: 2px solid lighten($danger, 20%);

            &.hilight.hilight {
                box-shadow: 0 0 12px 2px rgba($danger, 0.44);
            }

            .title.title {
                border-bottom-color: $danger;

                > i {
                    color: $danger;
                }
            }
        }
    }

    &.warning.warning {
        .jconfirm-box.jconfirm-box {
            // border: 2px solid lighten($secondary, 20%);

            &.hilight.hilight {
                box-shadow: 0 0 12px 2px rgba($warning, 0.44);
            }

            .title.title {
                border-bottom-color: $warning;

                > i {
                    color: $warning;
                }
            }
        }
    }

    &.info.info {
        .jconfirm-box.jconfirm-box {
            // border: 2px solid lighten($info, 20%);

            &.hilight.hilight {
                box-shadow: 0 0 12px 2px rgba($info, 0.44);
            }

            .title.title {
                border-bottom-color: $info;

                > i {
                    color: $info;
                }
            }
        }
    }

    .jconfirm-box-container {

        .jconfirm-box.jconfirm-box {

            @include border-radius(8px);

            &.hilight {
                &.hilight {
                    box-shadow: 0 0 12px 2px rgba($dark, 0.44);
                }
            }

            .title.title {
                border-bottom: 4px solid $light;
                font-size: 1.375rem;
                font-weight: bold;
                padding: 1rem 1.5rem .75rem 1.5rem;

                > i {
                    font-size: 2rem;
                    display: inline-block;
                    vertical-align: middle;
                }

                > div {
                    display: inline-block;
                    vertical-align: middle;
                    padding-left: .5rem;
                }
            }

            .content.content {
                color: $grey;
                line-height: 1.75;
                padding: 2rem 1.5rem;
                word-break: break-word;
                white-space: normal;
            }
            .buttons.buttons {

                border-top: $border-color 1px dotted;
                padding: 1.25rem 1.5rem;
            }
        }
    }
}