@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Layout > Footer
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-default {
    background-color: $white;
    border-top: 3px solid lighten($primary, 15%);
    padding: 2.25rem 0;

    @include color_1 {
        border-top: 3px solid lighten($primary, 5%);

        a {
            color: $primary;
        }

        .footer-heading {
            &:before {
                background-color: lighten($primary, 10%);
            }

            &:after {
                background-color: lighten($primary, 30%);
            }
        }

        .footer-main-info {
            li {
                strong {
                    color: $primary;
                }
            }
        }
    }


    @include color_2 {
        border-top: 3px solid lighten($primary2, 5%);

        a {
            color: $primary2;
        }

        .footer-heading {
            &:before {
                background-color: lighten($primary2, 10%);
            }

            &:after {
                background-color: lighten($primary2, 30%);
            }
        }
        .footer-main-info {
            li {
                strong {
                    color: $primary2;
                }
            }
        }
    }


    @include color_3 {
        border-top: 3px solid lighten($primary3, 5%);

        a {
            color: $primary3;
        }

        .footer-heading {
            &:before {
                background-color: lighten($primary3, 10%);
            }

            &:after {
                background-color: lighten($primary3, 30%);
            }
        }
        .footer-main-info {
            li {
                strong {
                    color: $primary3;
                }
            }
        }
    }


    @include color_4 {
        border-top: 3px solid lighten($primary4, 5%);

        a {
            color: $primary4;
        }

        .footer-heading {
            &:before {
                background-color: lighten($primary4, 10%);
            }

            &:after {
                background-color: lighten($primary4, 30%);
            }
        }
        .footer-main-info {
            li {
                strong {
                    color: $primary4;
                }
            }
        }
    }


    @include color_5 {
        border-top: 3px solid lighten($primary5, 5%);

        a {
            color: $primary5;
        }

        .footer-heading {
            &:before {
                background-color: lighten($primary5, 10%);
            }

            &:after {
                background-color: lighten($primary5, 30%);
            }
        }
        .footer-main-info {
            li {
                strong {
                    color: $primary5;
                }
            }
        }
    }


    .img-container-footer {
        margin-bottom: 1.25rem;

        img {
            height: 3.25rem;
        }
    }

    .footer-main {
        @media all and (max-width: $screen-md-min) {
            margin-bottom: 1.75rem;
        }
    }

    .footer-main-info {
        li {
            font-size: .9375rem;
            margin-top: 1rem;

            strong {
                color: $primary;
                font-size: 125%;
            }
        }
    }

    .footer-links {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        &:not(:last-of-type) {
            @media all and (max-width: $screen-md-min) {
                margin-bottom: 2.5rem;
            }
        }

        li {
            font-size: .9375rem;
            padding-left: 1.5rem;
            margin-top: 1rem;

            &:before {
                content: '';
                background-color: $grey-200;
                width: .375rem;
                height: .375rem;
                border-radius: 0 .375rem .375rem .375rem;
                position: absolute;
                left: .5rem;
                top: 50%;
                transform: translateY(-50%);
            }

            a {
                color: $dark;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

.img-barrier {
    width: 7.5rem;
    margin-top: 1rem;
}

.footer-heading {
    display: inline-block;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    letter-spacing: 2px;

    &:before {
        content: '';
        background-color: lighten($primary, 10%);
        border-radius: 2px;
        width: .75rem;
        height: .75rem;
        position: absolute;
        left: 33.333333%;
        bottom: -.25rem;
        z-index: 1;
    }

    &:after {
        content: '';
        background-color: lighten($primary, 30%);
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.footer-bottom {
    background-color: $white;
    border-top: 3px solid $primary;
    padding: 2.25rem 0;
}