// Horizontal dividers
//
// Dividers (basically an hr) within dropdowns and nav lists

@mixin nav-divider($color: $nav-divider-color) {
  height: 0;
  margin: .125rem 0;
  overflow: hidden;
  border: none;
  border-top: 1px solid $color;
}
// Navbar vertical align
@mixin navbar-vertical-align($element-height) {
    margin-top: ($navbar-height - $element-height) / 2;
    margin-bottom: ($navbar-height - $element-height) / 2;
}

