@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PAGES > CASE ANALYSIS
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/*  CASE ANALYSIS LIST
----------------------------------------  */
.case-analysis-section {
    background-color: $white;
    padding: 0 0 2rem 0;

    .filter-tools {
        margin-bottom: 1rem;
    }

    .case-card {
        margin: 1rem .5rem;
    }
}

/*  CASE ANALYSIS INNER
----------------------------------------  */
.case-analysis-inner {
    background-color: $white;
    padding: 2rem 0;

    .case-analysis-inner-panel {
        // background-color: $azure;
        // border-radius: 4px;
        // padding: 1rem 2rem;

        hr {
            border-bottom: 2px solid lighten($tertiary, 30%);
            margin: 1.5rem 0 1rem;
        }
    }

    .page-tags {
        padding-top: .5rem;
        padding-bottom: .5rem;

        .unit--tag,
        .date--tag {
            border-radius: 2rem;
            font-size: 1rem;
            padding: .375rem 1rem;
            user-select: none;

            @include in-bk-mid;
        }

        .unit--tag {
            background-color: $tertiary;
            color: $white;
            margin-right: .5rem;
        }

        .date--tag {
            background-color: $grey-100;
            color: $dark;

            i, font {
                vertical-align: middle;
            }
        }
    }

    .page-sub-heading {
        font-size: 1.625rem;
        margin-top: 1.25rem;
    }

    .page-img-banner {
        background-color: $default;
        border-radius: 12px;
        margin-top: 1.5rem;
        padding: .5rem;
        width: 100%;
        height: 20rem;

        img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;';
        }
    }

    .page-txt-cnt {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .page-file-note {
        padding: .25rem 1rem;

        a {
            &:hover {
                color: darken($link, 20%);
            }
        }
    }

    .page-content {
        margin-top: 1rem;
        padding: 0 1rem 1rem;

        .case-file-list {
            font-size: 0;

            .case-file-list-item {
                width: 49.5%;
                user-select: none;
                margin-bottom: .5rem;
                margin-right: .5%;

                @include in-bk-mid;

                @media all and (max-width: $screen-sm-min) {
                    margin-right: 0;
                    width: 100%;
                }

                a {
                    background-color: $default;
                    border-radius: 4px;
                    display: block;
                    padding: .5rem 1rem;

                    &:hover {
                        background-color: lighten($tertiary, 45%);

                        .case-file-list-item-name {
                            color: $tertiary;
                            text-decoration: underline;
                            transition: $transition-base;
                        }
                    }
                }

                .case-file-list-item-no {
                    display: inline-block;
                    vertical-align: baseline;
                    color: $tertiary;
                    font-size: 1.75rem;
                    padding-right: .5rem;
                    text-align: center;
                    width: 4rem;
                }

                .case-file-list-item-name {
                    display: inline-block;
                    vertical-align: baseline;
                    color: $dark;
                    font-size: 1rem;
                    font-family: $font-family-base;
                    padding-right: .5rem;
                    width: 50%;
                }

                .case-file-list-item-size {
                    display: inline-block;
                    vertical-align: baseline;
                    color: $dark;
                    font-size: 1rem;
                    font-family: $font-family-base;
                    padding-right: .5rem;
                    width: 4rem;
                }

                .case-file-list-item-type {
                    background-color: $white;
                    border-radius: 50%;
                    box-shadow: 2px 2px 2px rgba($dark, 0.16);
                    color: $dark;
                    padding: .5rem;
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);

                    .icon {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}