@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PAGES > CONTACT
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact-section {
    background-color: $white;
    padding: 2rem 0;

    .contact-cnt {
        font-size: 0;
        padding: 2rem 0;

        .lottie-img {
            width: 100%;
        }

        .img-container {
            width: 50%;
            @include in-bk-mid;
            iframe {
                border: none;
                border-radius: 12px;
            }
        }
        .contact-info {
            width: 50%;
            @include in-bk-mid;
            margin-top: 2rem;

            li {
                font-size: 1.125rem;
               
                &:not(:first-child){
                     margin-top: 1.25rem;
                }
            }
        }

    }
}