@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PAGES > FORGOT
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.forgot-section {
    padding: 0 0 4rem 0;
}
/*  forgot TAB 忘記密碼
----------------------------------------  */
.forgot-form {
	background-color: $white;
    border-radius: 12px;
    box-shadow: 0 2px 16px 2px rgba($dark, 0.16), 0 0 24px 1px rgba($primary, 0.16);
    font-size: 0;
    overflow: hidden;
    margin-top: 2rem;

    .forgot-content {
    		padding: 5rem 2.5rem 1.5rem;
    }

}


/*  forgot TAB 忘記密碼 
----------------------------------------  */
.forgot-tab {

    .forgot-tab-navs.forgot-tab-navs {
        background-color: $solitude;
        border-radius: 0.5rem;
        padding: 0.375rem 0.5rem;
    }

    .forgot-tab-nav.forgot-tab-nav {
        background-color: transparent;
        border-color: transparent;
        border-radius: 0.5rem;
        color: $grey;
        font-size: 1.125rem;
        padding: .75rem 0;
        word-break: keep-all;

        &:hover {
            color: $primary;

            small {
                color: lighten($primary, 10%);
            }
        }

        small {
            color: $lightgrey;
        }
    }

    .tabs-content.forgot-tabs-content {
        padding: 2rem 1rem 0;
    }
}

#forgot_corp:checked ~ .forgot-tab-navs #forgot_corp_tab,
#forgot_default:checked ~ .forgot-tab-navs #forgot_default_tab{
    background-color: $white;
    box-shadow: 0 0.1875rem 0.375rem 0 rgba($dark, 0.25);
    color: $dark;
    font-weight: bolder;
}

#forgot_corp:checked ~ .forgot-tabs-contents #forgot_corp_tabs,
#forgot_default:checked ~ .forgot-tabs-contents #forgot_default_tabs {
    display: block;
}
