@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  Pages > Regulation
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.privacy-section {
    background-color: $white;
    padding: 2rem 0;

    .privacy-cnt {
        font-size: 0;
        line-height: 1.75;
        padding: 2rem 1rem;

        p {
            font-size: 1.125rem;
            margin-bottom: .5rem;
        }

        h4 {
            font-size: 1.5rem;
        }

        h5 {
            font-size: 1.375rem;
        }

        h6 {
            font-size: 1.25rem;
        }

        ul {
            margin-top: .75rem;

            li {
                font-size: 1.125rem;
                margin-bottom: .375rem;
            }
        }
    }
}