@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PAGES > PROFILE
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.profile-section {
    background-color: $white;
    padding: 2rem 0;

.form-horizontal {

    max-width: 960px;
    margin: 4rem auto;
}
}


.Detail_City_ID_CO1 {
	.form-address.form-inline-input-group {
		display: inline-table;
	}
}