@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PAGES > SEARCH BAR
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.search-section {
    background-color: $white;
    padding: 2rem 0;

    .search-bar {
        border: 2px solid lighten($secondary, 20%);
        border-radius: 8px;
        padding: 1.25rem 0.5rem 0;
        margin-top: 2rem;

        @media all and (max-width: $screen-sm-min) {
            padding: 1.5rem 1rem;
        }

        #{$text-inputs-list} {
            background-color: $azure;
            border: 2px $azure solid;

            &:focus {
                border-color: rgba($secondary, 0.8);
            }
        }

        select {
            background-color: $azure;
            border: 2px $azure solid;

            &:hover,
            &:focus {
                border: $secondary 2px solid;
            }
        }
    }

    .form-bottom {
        text-align: right;
    }

    .form-btns {
        text-align: right;

        @media all and (max-width: $screen-sm-min) {
            margin-bottom: 0;
        }

        .btn {
            font-size: 1.125rem;

            @media all and (max-width: $screen-sm-min) {
                font-size: 1.375rem;
                padding: 1rem 2rem;
            }

            &:not(:last-child) {
                margin-right: .5rem;
            }
        }
    }

    .input-daterange {
        @include in-bk-mid;

        font-size: 0;

        font {
            font-size: 1rem;

            @include in-bk-mid;

            width: 2rem;

            // margin-right: .5rem;
            // margin-left: .5rem;
            text-align: center;
            text-align-last: center;

            @media all and (max-width: 510px) {
                display: block;
                text-align: center;
                margin: auto;
            }
        }

        .range-box {
            @include in-bk-mid;

            width: calc(50% - 1rem);

            // width: 40%;

            .date-group {
                display: table;
                table-layout: fixed;
                width: 100%;

                input {
                    @include tb-cell-mid;

                    border-radius: 4px 0 0 4px;
                    width: 100%;
                }

                .open-datepicker {
                    @include tb-cell-mid;

                    // position: absolute;
                    // top: 0;
                    // right: 0;

                    // width: 3.25rem;
                    // height: 3.25rem;
                    // padding: 0;
                    border-radius: 0 4px 4px 0;
                    width: 3.25rem;

                    @media all and (max-width: $screen-sm-min) {}

                    i {
                        @include position-ab-center;

                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}