@charset "utf-8";

/** –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PAGES > SITEMAP
// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.sitemap-section {
    background-color: $white;
    padding: 2rem 0;

    .sitemap-cnt {
        font-size: 0;
        line-height: 1.75;
        padding: 2rem 1rem;

        p {
            font-size: 1.125rem;
            margin-bottom: .5rem;
        }

        h4 {
            font-size: 1.5rem;
        }

        h5 {
            font-size: 1.375rem;
        }

        h6 {
            font-size: 1.25rem;
        }

        ul {
            margin-top: 2rem;

            li {
                @include in-bk-mid;

                width: (100% / 3);

                 @media all and (max-width: $screen-sm-min) {
                    width: (100%);
                 }

                a {
                    display: block;
                    background-color: lighten($primary, 38%);
                    border-radius: 8px;
                    font-size: 1.25rem;
                    margin: 0 .5rem 1rem 0;
                    padding: .5rem .5rem .5rem 2.5rem;

                    &:before {
                        content: '';
                        background-color: lighten($primary, 20%);

                        @include position-ab-y-center;

                        left: .875rem;
                        width: .75rem;
                        height: .75rem;
                        border-radius: 50%;
                    }

                    &:hover {
                        background-color: lighten($primary, 33%);
                    }
                }
            }
        }
    }
}